<configuration>
	<connectionStrings>
		<add name="TiendaConn"
			 connectionString="Server=localhost;Database=tiendadb;Uid=root;Pwd=;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
	</system.web>
</configuration>
